/* Globar view */

body {
  background-color: #ebebeb;
  font-family: "Asap", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}

.header-container {
  background-color: rgb(60, 60, 60);
  min-height: 100px;
  margin-bottom: 40px;
  margin-top: -8px;
  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 30%;
  margin-bottom: 40px;
  text-align: center;
  background-color: rgb(43, 226, 76);
}

.col p {
  font-size: 0.875rem;
  padding: 20px 25px;
  line-height: 1.25rem;
}
/* segunda clase solo escritorio */
.hide-desktop-only {
  display: none;
}

.container .col h1 {
  font-size: 20px;
}

.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-weight: 700;
}
/* clase capturada de etiqueta a */
.mybutton {
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  margin-left: 20px;
}

.highlight {
  font-weight: 700px;
  color: mediumpurple;
  font-size: 20px;
}

.mob-wrapper{
 
  display: none;
}

/* tablet view */

@media (max-width: 885px) {
  .col {
    width: 45%;
  }

  /* aplicando segunda clase */
  .hide-desktop-only {
    display: block;
  }


  .header-container {
    position: relative;
  }

  .container {
    padding-top: 0;
  }

  nav {
    display: none;
  }

  nav a {
    display: block;
    margin-left: 0;
  }

  .logo {
    padding: 40px 0;
  }

  .mybutton {
    margin-left: 0;
  }
/* acción del menú burger */
  .mob-wrapper{
 
    display:block;
    padding-right: 20px;
  }

  .mob-nav{

  display: none;
  position: absolute;

  }
  
  .navbutton{
    display: block;
    background-color: coral;
    padding: 15px 30px;
    margin: -1px -34px 0px -81px;
    text-align: center;
   
  }
  /* fin acción del menú burger */
 
}

/* Mobile view */

@media (max-width: 400px) {
  .col {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }
}
